@import "../default/colors";
@import "../default/presets";
@import "../default/containers";
@import "../default/fonts";
@import "../default/mixins";
@import "../default/variables";

.sec_container .grid-container2 {
  //   width: 85%;
  // background: url(../../img/8.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: 100% 70%;
  // background: #011b27;

  // border: $border-red;
  color: #ddd;
  height: 50rem;
  width: 85%;
  margin: 8rem auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1.25rem; //   grid-column-gap: 1.25rem;

  div:nth-of-type(1) {
    background: url(../../img/stickyNote.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    grid-row: 1/6;
  }
  div:nth-of-type(2) {
    background: url(../../img/stickyNote.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    grid-row: 2/7;
  }

  div:nth-of-type(3) {
    background: url(../../img/stickyNote.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    grid-row: 1/6;
  }
}

.grid-container2 > div {
  @include flex-column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 8rem 5rem;
  // background: pink;
  // border: $border-blue;

  & > h4 {
    font-size: clamp(1rem, 5vw, 5rem);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: blue;
  }

  & > h6 {
    font-size: clamp(0.75rem, 2vw, 2rem);
  }

  & > p {
    font-size: clamp(0.5rem, 1vw, 1.5rem);
    line-height: 1.6;
  }
}

.activities.content-box {
  display: flex;
  // background: white;
  position: relative;
  & > * + * {
    width: 70%;
    height: 30vh;
    flex-basis: 100%;
    position: absolute;
    border: $border-blue;
  }
  & div:first-child {
    margin-left: auto;
    // text-align: right;
    position: relative;

    & ul {
      border: $border-black;
      position: absolute;
      list-style: none;
      top: 30%;
      left: 20%;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 2.5;
      cursor: pointer;
    }
  }
}

.saf-policy.content-box {
  margin-top: 4rem;
  // background: black;

  & p {
    font-size: $content-size;
    line-height: $content-line;
    // border: $border-red;
    color: #ddd;
    padding: 4% 7.5% 0;
  }

  & ul {
    font-size: 1.25vw;
    font-weight: bold;
    line-height: 2;
    margin: 2% 10% 0;
    // border: $border-blue;
  }
}
