* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  // background: $primary-color;
  background: #111;
  color: #eee;
  font-family: "Roboto", sans-serif;
}

a {
  color: #000;
}
