.sec_contactMain {
  display: flex;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4) url("//unsplash.it/1920/1080");
  background-blend-mode: multiply;
  background-size: cover;

  & .map-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-basis: 60%;
    // border: $border-blue;

    & iframe {
      box-shadow: 0 0 1.5rem rgb(12, 12, 24);
      width: 90%;
      height: 85%;
    }
  }

  & .form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 86.5%;
    margin: 3.5% 2% 3.5% 0;
    flex-basis: 40%;
    background-color: #ccc;
    overflow: hidden;
    // border: $border-green;

    & .branding {
      height: 5%;
      display: flex;
      // border: $border-green;

      & .slide {
        font-size: 2rem;
        margin: 0.5rem 1rem 0 auto;
        // border: $border-blue

        &:hover {
          background-color: transparent rgba(0, 0, 0, 0.8);
          // border: $border-green;
        }
      }
    }
    & .nav {
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: space-evenly;
      left: 100%;
      height: 100%;
      width: 100%;
      background-color: #111;
      transition: 0.5s;
      z-index: 9;
      // border: $border-green;

      & a {
        display: block;
        padding: 20px 30px;
        font-size: 2.5rem;
        text-decoration: none;
        color: #ccc;
        text-align: center;

        &:first-child {
          text-align: right;
          margin-top: -5%;
        }

        &:hover {
          color: black;
          transition: 0.5s;
          background-color: white;
        }
      }
    }
    // #rqst_btn {
    //   /* border: 2px solid green; */
    //   position: absolute;
    //   z-index: 1;
    //   top: 37.5%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   font-size: 2rem;
    //   padding: 1rem 2rem;
    //   background-color: #ffffff;
    //   color: #000000;
    //   transition: all 0.125s ease-in-out;
    //   font-family: "Roboto", sans-serif;
    //   cursor: pointer;
    //   border: 1px solid rgb(0, 0, 0);
    //   box-shadow: 0 1rem 1rem rgb(86, 88, 90);

    //   &:hover {
    //     background: black;
    //     color: white;
    //     transition: all 0.2s ease-in;
    //   }
    // }

    & .name_reg {
      position: absolute;
      top: 6%;
      height: 75%;
      width: 100%;
      display: flex;
      // transform: translateX(100%);
      flex-direction: column;
      justify-content: center;
      // gap: 1%;
      transition: all 0.3s ease-in-out;
      z-index: 2;
      // border: $border-black;

      & h2 {
        margin: 2% 10%;
        height: 15%;
        font-size: 2.5rem;
        text-decoration: underline;
        color: #222;
        // border: $border-red;
      }

      & form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem 0;
        // border: $border-blue;

        & .input_f {
          padding: 0.75rem 0;
          border-radius: 8px;
          font-family: "Roboto", sans-serif;
          background-color: #efefef;
          width: 80%;
          // height: 3rem;
          margin: 0 auto;
          text-align: center;
          color: #000;
          font-size: 1vw;
          cursor: pointer;
          resize: none;
          border: 0.1rem solid grey;
        }

        & button.input_f {
          width: 30%;
          margin: 3% auto;
          background-color: #111;
          color: #fff;
          border: 0.1rem solid transparent;

          &:hover {
            background: #a3b0b3;
            color: #000;
            font-weight: 500;
            transition: all 0.5s;
            border-color: #012;
          }
        }
      }
    }

    & .c-footer {
      margin-top: auto;
      padding-left: 2.5%;
      display: flex;
      flex-direction: column;
      border: 2px solid black;
      height: 15%;
      background-color: rgba(0, 0, 0, 0.911);
      // border: $border-red;

      & h3 {
        font-size: 1.25rem;
        font-weight: 300;
        flex-basis: 20%;
        font-family: "Roboto", sans-serif;
        color: #ddd;
        padding: 0.5rem 0;
        // border: $border-green;
      }
      & .email-container {
        // border: $border-blue;
        // flex-basis: 60%;
        display: flex;
        align-items: center;
      }

      & #btn {
        font-size: 0.9rem;
        border-radius: 5px;
        outline: none;
        border: none;
        color: rgb(0, 0, 0);
        background: #ddd;
        padding: 4px 8px;
        margin-left: 1rem;
        cursor: pointer;

        &:hover {
          color: #ddd;
          background-color: darkgreen;
        }
      }
      .c-footer-box {
        display: flex;
        justify-self: flex-end;
        margin-top: auto;
        flex-basis: 20%;
        background-color: rgb(14, 13, 13);
        padding: 0.5rem 1rem 0.5rem 0;
        & h4 {
          font-weight: 300;
          display: inline-block;
          flex-basis: 40%;
          align-self: center;
          font-size: 0.75vw;
          font-family: "Roboto", sans-serif;
          color: #ddd;
        }
      }
    }
    .f_icons {
      display: flex;
      flex-basis: 60%;
      justify-content: flex-end;
    }
    #F_icon {
      font-size: 1.25rem;
      margin-left: 1rem;
      display: inline-block;
      color: white;
    }
  }
}

::placeholder {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 0.9vw;
  opacity: 0.6;
  padding-left: 0.5rem;
}
